@page "/PageAbout"
<h3>About</h3>


create two sperate projects:
<h1>1. Pschool API(backend):</h1>

<p>This shall be Asp.net web API project that contains the API Controllers,
    you can use any database(SQL Server, express, PostgreSQL or SQLite should be fine) as
    long as you use EF Core as the database provider.
    entity relationship every strudent has a parent.</p>



<h1>2.Pschool blazor webassembly (frontend):</h1>
<p>This is blazor webassembly frontend, you should create 2 separate views one for
    parents view and one for students,
    on both views the user should be able to perform basic operations like add, edit and
    delete.
    in the student page the user should be able to filter students based on parent select
    form a dropdown list.</p>

@code {
    
}
